<ion-tabs style="background-color: white;"> 
  <ion-tab-bar slot="All" >

    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon src="assets/icon/history.svg"></ion-icon>
      <ion-label>Clinic Visit</ion-label>
    </ion-tab-button>  
      
    <ion-tab-button tab="myplan"> 
      <ion-icon src="assets/icon/utilization.svg"></ion-icon>
      <ion-label>My Plan</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="notification">
      <ion-icon src="assets/icon/notification.svg"></ion-icon>
      <ion-label>Notif.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon src="assets/icon/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
   
  </ion-tab-bar>

</ion-tabs>
