
<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px.svg" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: black;  font-weight: bold;">CLINIC VISIT</div>
    <ion-buttons slot="end">
      <ion-button >
       <ion-icon >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->
<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: white;  font-weight: bold; font-family: My Custom Font2;">Claims</div>
    <ion-buttons slot="end">
      <ion-button >
        <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 



<ion-header translucent="true" style="background-color: white;"> 
  <ion-toolbar color="primary-contrast">
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateClaims()">
      <ion-segment-button value="all">
        Processing
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Approved
      </ion-segment-button>
    </ion-segment>

    <b><div  *ngIf="!ios && !showSearchbar" style="text-align: left; margin-left: -10px;">List of Claims</div></b>

    <ion-searchbar color="primary-contrast" *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateClaims()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" src="assets/icon/search_96px.svg"></ion-icon>
      </ion-button>
      <!-- <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
         <ion-icon slot="icon-only" src="assets/icon/filter_96px.svg"></ion-icon>
        </span>
      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="background-color: white;"  *ngIf="!ios">
    <ion-segment style="background-color: white;"  [(ngModel)]="segment" (ionChange)="updateClaims()">
      <ion-segment-button style="background-color: white;"  value="all">
        Processing
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Approved
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Claims</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateClaims()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList [hidden]="shownSessions === 0" >
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label>
       <small><b> {{group.time}}</b></small>  
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
        [hidden]="session.hide">
       <ion-card class="shadow" style="margin-left: 5%; margin-right: 5%;"> 
        <ion-item lines = "none" routerLink="/app/tabs/claims/claims/{{session.id}}">
        <ion-label>
        
            <ion-icon slot="icon-only" src="assets/icon/clinic-list-icon.svg"  style="zoom:3.0; float: left; margin-right: 5%;"></ion-icon>
            <small><b>{{session.name}}</b></small>
        <br>
            <p>
              {{session.timeStart}} ({{session.timeEnd}})
            </p>
          </ion-label>
         
        </ion-item></ion-card>
       <!-- <ion-item-options>
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
            *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Claims Found
  </ion-list-header>

</ion-content>
