<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" >
        <ion-icon color="primary-contrast" slot="icon-only" src="assets/icon/back_96px.svg" ios="ellipsis-horizontal" md="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="text-align: center;" >CLINIC DETAILS</div>
    <ion-buttons slot="end">
      <ion-button >
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h2>{{session.name}}</h2>
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{session.description}}</p>
    <ion-text color="medium">
      {{session.timeStart}} &ndash; {{session.timeEnd}}
      <br /><br />Address:<br /> {{session.location}}
      <br /><br /> {{session.contact}}
      <br /><br /> {{session.email}}
    </ion-text>
  </div>

  


 <!--<ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" >
              <ion-avatar slot="start">
                <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{speaker.name}}</h2>
                <p>{{speaker.title}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

       
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->



</ion-content>
