ion-toolbar {
  --background: white;
  --border-color: white;
  border-bottom: none;

  
}

.header-md::after {
  display: none;
}
.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}

.container {
  width: 300px; 

  margin-left:auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
} 

ion-content {
  --background: url('/assets/img/login.png') no-repeat center center / cover;
  
 } 

 ion-slides {

   height: 100%;
 } 

 html, body, .ion-app, .ion-content {
  background-color: transparent;
}