
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
        </ion-menu-button>
      </ion-buttons>
      <div style="text-align: center; color: white;  font-weight: bold; font-family: My Custom Font2;">MediConnect</div>
      <ion-buttons slot="end">
        <ion-button >
          <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 

 
  <div class="about-header" >
    <!-- Instead of loading an image each time the select changes, use opacity to transition them
    add utlization bar on top
    -->
    <div class="about-image madison" [ngStyle]="location === 'madison' && {'opacity': '1'}">
      <br><br><br><br>
     <small> <div style="color: white;  font-weight: bold; margin-left: 5%;">My Plan</div></small>
     <small> <div style="color: white;  float: right; margin-right: 5%; margin-top: -5%; " (click)="goToMyPlan()">View ></div></small>

      <ion-card class="shadow" style="margin-left: 5%;margin-right: 5%; background:white;">
        <table style=" width:90%; margin: 5%;">
          <tr>
            <td><b style="color: black;">{{this.get_name}}</b>
              <br>Employee, Scicom MSC Bhd. </td>
            <th><div class="circular--portrait">
              <img [src]="base64Image1" *ngIf="base64Image1" />
              <img [src]="base64ImageDefault" *ngIf="employeeimage" style="margin-top: 5%;" />
            </div></th>
           </tr>
        
        </table>
        <ion-item-divider style="margin-top: -12%; background-color: white;">
 
        </ion-item-divider>
    <br>
        <table style="  width:100%; margin-left: 5%;">
          <tr>
            <td style ="width: 30% ;">Type</td>
            <td style ="width: 25% ;">Status</td>
            <td style ="width: 20% ;">Visits</td>
          </tr>
          <tr >
            <td style ="width: 30% ; color: black;"><b>Basic Policy</b></td>
            <td style ="width: 25% ; color: black;"><b>Active </b></td>
            <td style ="width: 20% ; color: black;"><b >3/15</b></td>
          </tr>
        </table>
        <br>
      </ion-card>

    </div>


    <br><br><br><br>
    <br><br>
  </div>

  <!--<div class="about-info" style="width: 90%;  background-color: white; margin-top: 80px; " >
    <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Hi {{this.get_name}},</h3>-->
    
    <br><br><br>
    <br><br>
<small><div style="margin-left: 5%; margin-bottom: -3%;">QUICK LINKS</div></small>
  <ion-grid>
    <ion-row>
      <ion-col style="margin-right: 1%;">
        <ion-card class="shadow"  style="background:white; text-align: center; padding: 10px; "  (click)="goToClinic()">
          <div style="margin-top: 10%; margin-bottom: 10%; "><img src="assets/img/home/Clinic_Big.png"  width="50px" height="50px"   />
         <b> <div class="card-title" style="color: black;">Clinic Visit</div></b></div>
        </ion-card>
  
      </ion-col>
      <ion-col style="margin-left: 1%;">
  

            
            <ion-card class="shadow"  style="background:white; text-align: center; padding: 10px; " (click)="goToUtilization()">
              <div style="margin-top: 10%; margin-bottom: 10%;"> <img src="assets/img/home/Ultilization_Big.png"  width="50px" height="50px" />
          <b><div class="card-title" style="color: black;">Utilization</div></b></div>

        </ion-card>
      </ion-col>
      
     
    </ion-row>

    <ion-row style="margin-top: -3%;" >
      <ion-col style="margin-right: 1%;">

            <ion-card class="shadow"  style="background:white; text-align: center; padding: 10px;" (click)="goToClaim()">
              <div style="margin-top: 10%; margin-bottom: 10%;"><img src="assets/img/home/Claims_Big.png"  width="50px" height="50px"   />
              <b> <div class="card-title" style="color: black;">Claims</div></b></div>
            </ion-card>
          
      </ion-col>
      <ion-col style="margin-left: 1%;">
       
        <ion-card class="shadow"  style="background:white; text-align: center; padding: 10px;" (click)="goToPlan()">
           <div style="margin-top: 10%; margin-bottom: 10%;"><img src="assets/img/home/MedicalCard_Big.png"  width="50px" height="50px"  />
          <b><div class="card-title" style="color: black;">Medical Card</div></b></div>

        </ion-card>
      
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--</div>-->

</ion-content>
