ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.about-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.about-header .about-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.about-header .madison {
  background-image: url(/assets/img/bg1.png);
}


.about-info {
  position: absolute;
  margin: 5%;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
}

.about-info2 {
  position: absolute;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
}


.about-info h3 {
  margin-top: 0;
}

.about-info ion-list {
  padding-top: 0;
}

.about-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

/*
 * iOS Only


.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
} */

ion-content{

  --ion-background-color:#F8F9FA;
}

ion-grid{
  margin-left: 3%;
  margin-right: 3%;
  ion-card{
      width:100%;
      margin-left:0 !important;
      margin-right:0 !important;
      ion-card-content{
          padding: 0 !important; 
      }
  }
}

.shadow{
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ /
      -moz-box-shadow:    0px 0px 6px 3px rgba(0, 0, 0, 0.1);  / Firefox 3.5 - 3.6 */
      box-shadow:         0px 0px 6px 3px rgba(0, 0, 0, 0.1); 
    background: white;
}

.circular--portrait {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
  margin-top: -16%;
}