<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" >
        <ion-icon color="primary-contrast" slot="icon-only" src="assets/icon/back_96px.svg" ios="ellipsis-horizontal" md="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="text-align: center;" >CLAIM DETAILS</div>
    <ion-buttons slot="end">
      <ion-button >
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div  class="ion-padding">
  <small> <br> Claims ID : <b>AJ123</b>
   <br> Claim Type: <b>Outpatient Clinical/Outpatient Specialist</b>
   <br> Name : <b>SHANNON CHRISTOPHER GEORGE</b>
   <br> NRIC/Passport : <b>930617145623</b>
   <br> Receipt No : <b>RCP-1234</b>
   <br> Panel Type: <b>Panel</b>
   <br> Provider Name : <b>Medivron</b>
   <br> Reason for Visiting Non Panel : <b>Medical Check-Up</b>
   <br> Referral Letter Obtained: <b>Yes </b>
   <br> Consultation Date: <b>10/11/2020</b>
   <br> Diagnosis : <b>Gantroenterisis / Stomach Pain</b>
   <br> Other Diagnosis : <b>-</b>
   <br> No of MC days : <b>3</b>
   <br> MC Start Date : <b>10/11/2020 - 12/11/2020</b></small>
  </div>

  


 <!--<ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" >
              <ion-avatar slot="start">
                <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{speaker.name}}</h2>
                <p>{{speaker.title}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

       
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->



</ion-content>
