ion-fab-button {
  --background: var(--ion-color-step-150, #2F90B0);

}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}




ion-content{

  --ion-background-color:#F8F9FA;
}

$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

.shadow{
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ /
      -moz-box-shadow:    0px 0px 6px 3px rgba(0, 0, 0, 0.1);  / Firefox 3.5 - 3.6 */
      box-shadow:         0px 0px 6px 3px rgba(0, 0, 0, 0.1); 
    background: white;
}