<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/img/logoicon.png" alt="Ionic logo">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>-->



<ion-content>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false"  style="background-color: white;"> 
    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
      <!--<ion-header class="no-border-bottom" style="background-color: white;" >
        <ion-toolbar>
          <ion-buttons slot="end">
          <ion-button color='primary' (click)="swipeNext1()" [hidden]="!showSkip">Next</ion-button>
          <ion-button color='primary' (click)="getliveness()" [hidden]="!continue">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>-->
      <img src="assets/img/logoicon.png" class="slide-image"  />
    
      <div class="container">
        <h3>Please activate your account</h3>
      <b>Steps to activate your account:</b>
  <div style="text-align: left; ">
  <ol> 
    <br> <li>Capture and crop your identification document </li>
    <br><li>Take a selfie</li>
    <br><li>Verify and submit</li>

     </ol>
    </div>
    </div>  


      <ion-button fill="clear" (click)="swipeNext1()" style= "position: relative;  display: inline-block; text-align:center; margin-left: 20px;">Start<br>
      
      </ion-button>
     
    </ion-slide>

    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
      <!-- <ion-header class="no-border-bottom" style="background-color: white;" >
       <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color='primary' (click)="swipeBack()" [hidden]="!showSkip">Back</ion-button>
            </ion-buttons>
          <ion-buttons slot="end">
          <ion-button color='primary' (click)="swipeNext2()" [hidden]="!showSkip">Next</ion-button>
          <ion-button color='primary' (click)="getliveness()" [hidden]="!continue">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>-->
      <div class="container">
        <br><br>
      Capture Your Mykad Photo: <br><br>
       <img [src]="base64Image" *ngIf="base64Image" style=" display: block; margin-left: auto; margin-right: auto; "  />
       <img [src]="base64ImageCrop" *ngIf="base64Imagecrop" style=" display: block; margin-left: auto; margin-right: auto; "  />

       <br>
    
     <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe">
  
    
 
 <ion-button expand="block" (click)="takePicture(1)">Re-Capture</ion-button>
 <br>
 <ion-button expand="block" (click)="swipeNext2()">Next: Capture Selfie</ion-button>
 
</div>
     </ion-slide>
 
     <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
     
    
     
        <div  id="cameraPreview"  *ngIf="hidePreview" style="background-color: black; width: 115%; height: 100%; margin-left: -15%;" >  </div>
        <div *ngIf="hidePreview" class="box stack-top" ><img src="/assets/img/selfie.png" style="width : 60px ; height : 60px; text-align: end; margin-top: 150%;" (click)="captureSelfie()"   ></div>
    
        <br><br>
      
      <div class="container">
      Capture your Selfie Photo: <br><br>
    
       <img [src]="base64Image1" *ngIf="base64Image1" style=" display: block;"  />
       <br>
    <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe1">

     
       <!--<img src="../assets/load.gif" alt="Loading" style="height: 100px;  display: block; margin-left: auto; margin-right: auto; width: 50%; " *ngIf="livenessImage"/>
     
   <div *ngIf="livenessPass">Liveness Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px"></div>
   <div *ngIf="livenessPass2">Liveness Fail  <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>-->
     
 
     <ion-button expand="block" (click)="takePicture(2)" >Re-Capture</ion-button>
     <br>
     <ion-button expand="block" (click)="swipeNext()" *ngIf="hideMe1">Submit</ion-button>
     
   
  
 
 
 </div>
     </ion-slide>
 
   
 
     <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
     <!--<ion-header class="no-border-bottom" style="background-color: white;" >
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color='primary' (click)="swipeBack()" [hidden]="!continue">Back</ion-button>
            </ion-buttons>
          <ion-buttons slot="end">
          <ion-button color='primary' (click)="swipeNext()" [hidden]="!showSkip">Next</ion-button>
          <ion-button color='primary' (click)="getliveness()" [hidden]="!continue">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>--> 
 <br><br>
 <div *ngIf="showResult" >

  <div *ngIf="loadingImage">
  <b> Sending for Verification:</b>
</div>
  

<br>

  <!--<div *ngIf="livenessPass">Liveness Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px"></div>
  <div *ngIf="livenessPass2">Liveness Fail  <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>
  
  <div *ngIf="ocrPass">OCR Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px">
    <br>
    <ion-label floating>Name: {{this.get_name}} </ion-label>
   <br>
      <ion-label floating>NRIC: {{this.get_nric}}</ion-label>
  </div>
  <div *ngIf="ocrPass2">OCR Fail   <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>

   <div *ngIf="matchPass">Matching Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px"></div>
   <div *ngIf="matchPass2">Matching Fail  <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>-->
 <br>
  <br>
     </div>
     <img src="../assets/load.gif" alt="Loading" style="height: 100px;  display: block; margin-left: auto; margin-right: auto; width: 50%; " *ngIf="loadingImage"/>
     <br>  <br>  <br>

     <div class="container">

      <ion-col *ngIf="passAll">
        <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Identity Verification Pass</h3>

       </ion-col>

       <ion-col *ngIf="passAll2">
        <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Identity Verification Fail</h3>

      </ion-col>


     

      <div style="width: 200px; align-content: center; margin: auto;">
      <ion-row>
        <ion-col>
        <div class="rectangle1" *ngIf="livenessPass"></div>
        <div class="rectangle2" *ngIf="livenessPass2"></div>
       </ion-col>
     
       <ion-col>
        <div class="rectangle1" *ngIf="ocrPass"></div>
        <div class="rectangle2" *ngIf="ocrPass2"></div>
        </ion-col>
     
        <ion-col>
          <div class="rectangle1" *ngIf="matchPass"></div>
          <div class="rectangle2" *ngIf="matchPass2"></div>
        </ion-col>
      </ion-row>

      </div>
       <ion-row>
         <ion-col *ngIf="passAll">
         <br>
           <ion-button (click)="goNext()"  expand="block">Register Your Mobile Number</ion-button>
         </ion-col>

         <ion-col *ngIf="passAll2">
          <br>
          <ion-button (click)="restartverify()"  expand="block">Please Re-Verify</ion-button>

          The verification failed may due to several reasons. Please follow the guidelines below:

1. The photos to be taken under the broader light source not direct lighting.
2. Taking the ID card photo 90 degree directly from above and ensure there are no reflection and shadow on the card.
3. Ensure your face is within the placeholder
4. Ensure there's no more than one person in the photo
5. Ensure you are in front of plain background.
        </ion-col>
         
       </ion-row>
      </div>
    

  
 
 
 
 
     
      
 

  <!-- NAIM -->
  <ion-slide>
    <ng-container *ngIf="!isCameraActive && isMyCardCameraActive">
      <div>
        <img id="card-img" [src]="myCardBase64" />
        <canvas id="card-canvas" [width]="MYCARD_SIZE.width" [height]="MYCARD_SIZE.height"></canvas>
      </div>
    </ng-container>

    <ng-container *ngIf="isCameraActive && isMyCardCameraActive">
      <div class="card-container">
        <div id="card-area-element" [style.width]="MYCARD_SIZE.width + 'px'"
          [style.height]="MYCARD_SIZE.height + 'px'"></div>
      </div>
      <ng-container *ngTemplateOutlet="cameraControls;context: { type: 'mycard' }"></ng-container>
    </ng-container>
  </ion-slide>


  <ng-template #cameraControls let-cameraType="type">
    <ion-row class="camera-control">
      <ion-col size="12" class="controls">
        <ion-fab-button color="light" class="camera-button" (click)="takePictureButton($event, cameraType)">
          <ion-icon color="primary" src="assets/icon/camera-outline.svg"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-slides>
</ion-content>

<!--
<ion-content >
  <div style="margin-left: 20%; margin-right: 20%;">
    <br><br>
   <img src="assets/img/logoicon.png" alt="Ionic Logo" width="300px" ><br><br>
  </div>

  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false"  style="background-color: white; margin-left: 10%; margin-right: 10%;"> 
    <ion-slide>
<img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to use the App?</h2>
      <br>

      <ion-button fill="clear" (click)="startApp()" style= "position: relative;  display: inline-block; text-align:center; margin-top: -200px; margin-left: 20px;">
        Continue
        <br>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
        </ion-slide>
    
    
    
    <ion-slide >
     Capture Your Mykad Photo: <br><br>

     
  
      <ion-col>
      <img [src]="base64Image" *ngIf="base64Image" style="display:block;width:100px;height:auto" />
      </ion-col> 
      <br>
      <ion-col>
    <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe">
  </ion-col>
    






<ion-button expand="block" (click)="takePicture(1)">Capture</ion-button>
<br>
<ion-button expand="block" (click)="DeletePicture(1)" *ngIf="hideMe">Delete</ion-button>

    </ion-slide>

    <ion-slide>
     Capture your Selfie Photo: 



     <ion-row style="align-content: center;">
      
   
      
      <ion-col>
      <img [src]="base64Image1" *ngIf="base64Image1" style="display:block;width:100px;height:auto" />
      </ion-col> 
      <br>
      <ion-col>
    <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe1">
    </ion-col>
    
    <br>
    
    </ion-row>  
    
    
    <ion-row style="text-align: center;">
    <ion-button expand="block" (click)="takePicture(2)">Selfie</ion-button>
    <br>
    <ion-button expand="block" (click)="DeletePicture(2)" *ngIf="hideMe">Delete</ion-button>
    </ion-row>  





    </ion-slide>

  

    <ion-slide>


<div *ngIf="showResult" style="margin-left: -20%; margin-right: -20%;">
  Submit
  <div *ngIf="livenessPass">Liveness Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px"></div>
  <div *ngIf="livenessPass2">Liveness Fail  <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>
 <br>

  <div *ngIf="matchPass">Match Pass<img src="../assets/img/tick.png" style="height: 25px;  margin-top: 20px"></div>
  <div *ngIf="matchPass2">Match Fail  <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>
<br>

  <div *ngIf="ocrPass">OCR Pass<img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px"><br>
    <br>
    <br>
    <ion-label floating>Name: </ion-label>
    <h3>{{this.get_name}}</h3>
   <br>
      <ion-label floating>NRIC: </ion-label>
      <h3>{{this.get_nric}}<br><br><br></h3>
  
  </div>
  <div *ngIf="ocrPass2">OCR Fail   <img src="../assets/img/tick2.png" style="height: 25px;  margin-top: 20px"></div>

  <br><br>
 


    </div>

    <img src="../assets/load.png" style="height: 100px;  display: block; margin-left: auto; margin-right: auto; width: 50%; " *ngIf="loadingImage">





    <div style="margin-left: 20%; margin-right: 20%;">



      <ion-row>
        <ion-col>
          <ion-button (click)="getliveness()"  expand="block">Submit</ion-button>
        </ion-col>      
      </ion-row>
  
  
      <ion-row>
        <ion-col>
          <ion-button (click)="getmatch()"  expand="block">Matching</ion-button>
        </ion-col>
        
      </ion-row>
  
  
      <ion-row>
        <ion-col>
          <ion-button (click)="getocr()"  expand="block">OCR</ion-button>
        </ion-col>
        
      </ion-row>
  

      <ion-row>
        <ion-col>
          <ion-button (click)="gotoNext()"  expand="block">Next</ion-button>
        </ion-col>
        
      </ion-row>

   
  </div>





    </ion-slide>
  </ion-slides>



</ion-content>
-->
