ion-toolbar {
  --background: white;
  --border-color: white;
  border-bottom: none;

  
}

.header-md::after {
  display: none;
}
.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}

.container {
  width: 300px; 

  margin-left:auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
} 

.box{
 background: url('/assets/img/overlay.png') no-repeat center center / cover;
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
  z-index: 9;
 
 
}

ion-content {
  --background: url('/assets/img/login.png') no-repeat center center / cover;
  
 } 

 ion-slides {

   height: 100%;
 } 


 .camera-content {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.crop {
 margin-left: -15%;
 width: 115%;
}



.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background:url('/assets/img/overlay.png');
 

}

.adjust {
  margin-left: -10%;
 

}

.rectangle1 {
  height: 20px;
  width: 50px;
  background-color: rgb(98, 221, 98);
}

.rectangle2 {
  height: 20px;
  width: 50px;
  background-color: rgb(245, 72, 72);
}