
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: white;  font-weight: bold;font-family: My Custom Font2;">My Plan</div>
    <ion-buttons slot="end">
      <ion-button >
        <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 



<br><br>  <br>  
 <div>
<ion-header class="ion-no-border" color="primary-contrast" > 
  <br><br>  <br>  
 
      <ion-toolbar style="background-color: white;"  *ngIf="!ios">
        <ion-segment style="background-color: white;"  [(ngModel)]="segment" (ionChange)="hideOnSomethingClicked()">
          <ion-segment-button style="background-color: white;"  value="all" (click)="showEmployee()">
            Employee
          </ion-segment-button>
          <ion-segment-button value="favorites" (click)="showDependant()">
            Dependents
          </ion-segment-button>
          
        </ion-segment>
      </ion-toolbar>
</ion-header>
</div>







  <ion-content  style=" margin-left: 10%; margin-right: 10%; ">

    
  

  <div *ngIf="employee" >
  
    <div style="text-align: center; background-image: url(/assets/img/bg2.png); height: 180px;">
      <br>
  
      <div class="circular--portrait"  >
        <img [src]="base64Image1" *ngIf="base64Image1" />
        
      </div>
      <img src="assets/icon/male_user_96px.png" alt="Ionic logo"  *ngIf="employeeimage" style="margin-top: -30%;height: 80px; width: 80px;margin-bottom: -10%;" >
   <br>
  <b >{{this.get_name}}</b>
  <small><br> Employee</small>
  <br> 
  <ion-button style="margin-left: 10%; margin-right: 10%;" expand="full" color="secondary" (click)="gotoMyCard();" >MediConnect eCard</ion-button>
 </div>


<ion-card class = "shadow" style="margin-left: 5%; margin-right: 5%; background-color: white;">

  <table style="width: 100%; border: 0; color:black" >
    <tr style="width: 100%;">
      <th colspan="2" style="color:black">
        <div style=" text-align: left;">GP Annual Limit</div>
        <div style=" float: right; margin-top: -7%;">></div>

</th>
    </tr>

    <tr>
      <td style="width: 50%;">Visits
          <br>
         <b>3</b>
          <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:20%">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
    
        <div style="text-align: right;"><b>15</b></div>  


      </td >
      <td style="width: 50%;">Amount Utilized (RM)
        <br>
       <b>260</b>
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
  
      <div style="text-align: right;"><b>25000</b></div>  


    </td >
    </tr>
    </table>




</ion-card>


<ion-card class = "shadow" style="margin-left: 5%; margin-right: 5%; background-color: white;">

  <table style="width: 100%; color:black;" >
    <tr style="width: 100%;">
      <th colspan="2">
        <div style=" text-align: left;">Outpatient Specialist Annual Limit</div>
        <div style=" float: right; margin-top: -7%;">></div>

</th>
    </tr>

    <tr>
      <td style="width: 50%;">Visits
          <br>
         <b>1</b>
          <br>
       <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
    
        <div style="text-align: right;"><b>10</b></div>  


      </td >
      <td style="width: 50%;">Amount Utilized (RM)
        <br>
       <b>2000</b>
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%;">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
  
      <div style="text-align: right;"><b>25000</b></div>  


    </td >
    </tr>
    </table>




</ion-card>

<!--

      <ion-card style="margin-left: 5%; margin-right: 5%; background-color: white;">

       <div style="margin-left: 10%; margin-right: 10%; background-color: white;">
        <img src="assets/icon/male_user_96px.png" alt="Ionic logo" style="float: left; margin-top: 10%;">
       <br>
    
        <br> 
  

      </div>

        <ion-item-divider style="  background-color: white;">
        </ion-item-divider>
        <div style="margin-left: 10%; margin-right: 10%; background-color: white;"><h3 >GP Annual Limit</h3>
        1. Annual Limit (Amount) : 99999999.00<br>
                2. Annual Limit (Visit) : 10<br>
                3. Annual Utilized (Amount) : 260<br>
                4. Annual Utilized (Visit) : 3<br>
              </div>
                <ion-item-divider style="  background-color: white;">
                </ion-item-divider>
                <div style="margin-left: 10%; margin-right: 10%; background-color: white;">
                <h3 >Outpatient Specialist Annual Limit</h3>
           
                1. Annual Limit (Amount) : 99999999.00<br>
                2. Annual Limit (Visit) : 0<br>
                3. Annual Utilized (Amount) : 263<br>
                4. Annual Utilized (Visit) : 0<br>
                <br>
              </div>

      </ion-card>
    
    -->
  </div>

  <div *ngIf="dependant" >
    
    

        
      <div style="text-align: center; background-image: url(/assets/img/bg2.png); height: 180px;">
        <img src="assets/icon/male_user_96px.png" alt="Ionic logo" style="height: 80px" >
       <br>
 
       <b >Nurhazira Bt Hussin</b>
       <small><br>Relationship: Wife </small>
 
     
        <br> 
     
       <ion-button style="margin-left: 10%; margin-right: 10%;" expand="full" color="secondary" (click)="gotoMyCard2();" >MediConnect eCard</ion-button>

     </div>


       
<ion-card class = "shadow" style="margin-left: 5%; margin-right: 5%; background-color: white;">

  <table style="width: 100%; border: 0; color:black;" >
    <tr style="width: 100%;">
      <th colspan="2">
        <div style=" text-align: left;">GP Annual Limit</div>
        <div style=" float: right; margin-top: -7%;">></div>

</th>
    </tr>

    <tr>
      <td style="width: 50%;">Visits
          <br>
         <b>3</b>
          <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:20%">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
    
        <div style="text-align: right;"><b>15</b></div>  


      </td >
      <td style="width: 50%;">Amount Utilized (RM)
        <br>
       <b>260</b>
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
  
      <div style="text-align: right;"><b>25000</b></div>  


    </td >
    </tr>
    </table>




</ion-card>
       <!--
       <div style="margin-left: 10%; margin-right: 10%; background-color: white;"><h3 >GP Annual Limit</h3>
       1. Annual Limit (Amount) : 99999999.00<br>
               2. Annual Limit (Visit) : 10<br>
               3. Annual Utilized (Amount) : 263<br>
               4. Annual Utilized (Visit) : 0<br><br>
             </div>-->
          
    
    

     <br>

        
     <div style="text-align: center; background-image: url(/assets/img/bg2.png); height: 180px;">
      <img src="assets/icon/male_user_96px.png" alt="Ionic logo" style="height: 80px" >
     <br>

     <b >Adrian Yusuf Bin Syahril</b>
     <small><br>Relationship: Son </small>

   
      <br> 
   
     <ion-button style="margin-left: 10%; margin-right: 10%;" expand="full" color="secondary" (click)="gotoMyCard2();" >MediConnect eCard</ion-button>

   </div>


    

      <!-- <div style="margin-left: 10%; margin-right: 10%; background-color: white;"><h3 >GP Annual Limit</h3>
       1. Annual Limit (Amount) : 99999999.00<br>
               2. Annual Limit (Visit) : 10<br>
               3. Annual Utilized (Amount) : 263  <br>
               4. Annual Utilized (Visit) : 0<br>
               <br>
             </div>-->
           
         
<ion-card class = "shadow" style="margin-left: 5%; margin-right: 5%; background-color: white;">

  <table style="width: 100%; border: 0; color:black;" >
    <tr style="width: 100%;">
      <th colspan="2">
        <div style=" text-align: left;">GP Annual Limit</div>
        <div style=" float: right; margin-top: -7%;">></div>

</th>
    </tr>

    <tr>
      <td style="width: 50%;">Visits
          <br>
         <b>3</b>
          <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:20%">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
    
        <div style="text-align: right;"><b>15</b></div>  


      </td >
      <td style="width: 50%;">Amount Utilized (RM)
        <br>
       <b>260</b>
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
  
      <div style="text-align: right;"><b>25000</b></div>  


    </td >
    </tr>
    </table>




</ion-card>

  
</div>
<!--
    <ion-card style="background-color: white; margin-left: 10%; margin-right: 10%;">
      <br>
      <img src="assets/icon/male_user_96px.png" alt="Ionic logo" style="float: left;">
      <h1 >Nurhazira</h1>
      <div >Dependant</div>
     <br>
    
      <ion-button expand="full" color="secondary" (click)="gotoMyCard();" >MediConnect eCard</ion-button>
     
   
    </ion-card>
  
    <ion-card style="background-color: white ; margin-left: 10%; margin-right: 10%;">
    <ion-list lines="none" style="padding-left: 5%;  padding-right: 5%;background-color: white;">
    
      <h3 >GP Annual Limit</h3>
     
              1. Annual Limit (Amount) : 99999999.00<br>
              2. Annual Limit (Visit) : 10<br>
              3. Annual Utilized (Amount) : 260<br>
              4. Annual Utilized (Visit) : 3<br>
         
                
        
        </ion-list>

      </ion-card>
-->


          

<!--
        <ion-item>
          <div *ngIf="scannedData">
            <p>
              Scanned Code Text : <b>{{ scannedData["text"] }}</b>
            </p>
            <p>
              Scanned Code Format : <b>{{ scannedData["format"] }}</b>
            </p>
          </div>
        </ion-item>

        <ion-item>
          <h1>Enter Value to Create QR code</h1><br><br>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Input" [(ngModel)]="encodeData"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="encodedText()">
            Create QR
          </ion-button>
        </ion-item>

      -->

  <!--<ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon src="assets/icon/qr_code_96px.svg" (click)="scanCode();" ></ion-icon>
    </ion-fab-button>
    
  </ion-fab>-->


</ion-content>