<ion-header class="no-border-bottom" style="background-color: white;" >
  <ion-toolbar>
    <ion-buttons slot="end">
    <ion-button color='primary' (click)="startAppNow()" [hidden]="!showSkip">Skip</ion-button>
    <ion-button color='primary' (click)="startApp()" [hidden]="!continue">Continue</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  style="background-color: white;">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false"  style="background-color: white;"> 
    <ion-slide style="background-color: white;" >
      <img src="assets/mediconnect/drawable-xxxhdpi/Tutorial-1.png"  height="100%" style="background-color: white;"/>
     
    </ion-slide>

    <ion-slide>
      <img src="assets/mediconnect/drawable-xxxhdpi/Tutorial-2.png"  height="100%"/>
    </ion-slide>

    <ion-slide>
      <img src="assets/mediconnect/drawable-xxxhdpi/Tutorial-3.png"  height="100%"/>
    </ion-slide>

    <ion-slide>

      <img src="assets/mediconnect/drawable-xxxhdpi/Tutorial-4.png"  height="100%"/>
      <!--<img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to use the App?</h2>
      <br>

      <ion-button fill="clear" (click)="startApp()" style= "position: relative;  display: inline-block; text-align:center; margin-top: -200px; margin-left: 20px;">
        Continue
        <br>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>-->
    </ion-slide>
  </ion-slides>
</ion-content>
