<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px.svg" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: black;  font-weight: bold;">PROFILE</div>
    <ion-buttons slot="end">
      <ion-button >
       <ion-icon >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
     
        <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: white;  font-weight: bold;font-family: My Custom Font2;">Terms & Conditions</div>
    <ion-buttons slot="end">
      <ion-button >
        <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 


<ion-content style="text-align: center;" src= "http://mobileapp.emgs.com.my/terms/">
 


</ion-content>