.signup-logo {
  padding: 60px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 300px;
}

.list {
  margin-bottom: 0;
}

.container {
  width: 300px; 
  margin-left:auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
}


