ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

ion-content{

  --ion-background-color:#F8F9FA;
}
.shadow{
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ /
      -moz-box-shadow:    0px 0px 6px 3px rgba(0, 0, 0, 0.1);  / Firefox 3.5 - 3.6 */
      box-shadow:         0px 0px 6px 3px rgba(0, 0, 0, 0.1); 
    background: white;
}