<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px.svg" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: black;  font-weight: bold;">MESSAGE</div>
    <ion-buttons slot="end">
      <ion-button >
       <ion-icon >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: white;  font-weight: bold; font-family: My Custom Font2;">Notifications</div>
    <ion-buttons slot="end">
      <ion-button >
        <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 


<!--<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Notification</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" src="assets/icon/search_96px.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        Inbox
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Archive
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-header>
-->

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inbox</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
        [hidden]="session.hide">


        <ion-card class="shadow" style="margin-left: 5%; margin-right: 5%;"> 
          <ion-item lines="none" routerLink="/app/tabs/notification/session/{{session.id}}">
          <ion-label>
          
              <ion-icon slot="icon-only" src="assets/icon/notification-list-icon.svg"  style="zoom:3.0; float: left; margin-right: 5%;"></ion-icon>
             <b>{{session.name}}</b>
          <br>
              <p>
                {{session.description}}
              </p>
            </ion-label>
           
          </ion-item>
        </ion-card>


     
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>


</ion-content>
