

<ion-content class ="container" >

 
 <div style="width:5%; height:10%; margin-left:95%; float: right;" (click)="goBack()">
 <img src="assets/img/close.png"  />
 </div>

    <div *ngIf="card1" >
    <ion-card >
      <img src="assets/img/cardsample.png"/>
      <div class="myOverlay">

        <p class="ion-padding-start ion-padding-end" style=" margin-top: -20%; margin-left: 5%; margin-right: -5%;">
          <b><b> Employee Name: {{this.get_name}} 
          <br>
          NRIC: {{this.get_nric}} 
          <br>     <br>
          Plan: SC100B</b></b> 
        
        </p>
      

      </div>
    </ion-card>
 </div>




  <div *ngIf="card2">
    <ion-card>
      <img src="assets/img/cardsample2.png"/>
    </ion-card>
  </div>


    <div *ngIf="card3">
    <ion-card>
      <img src="assets/img/cardsample3.png"/>
    </ion-card>
  </div>


 

</ion-content>