<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/img/logoicon.png" alt="Ionic logo">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="login-logo">
 <br><br><br><br><br>

  </div>
 
<div class="container">
  <form #loginForm="ngForm" novalidate >
    <ion-list  >
   

      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="credentials.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item style="margin-bottom: -5px;">
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="credentials.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger"  >
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" height="60px">Login</ion-button>
      </ion-col>
      
    </ion-row>
  <!--  <ion-label floating>Response: {{this.get_response}}</ion-label>-->
  </form></div>

</ion-content>
