

<ion-content>

  <br><br>
 
  <br><br>  <br><br>  <br><br>  
  
      <ion-card *ngIf="showQRResult" style="text-align: center; background-color: white; width: 300px; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
        <br>
        <img src="assets/img/logoicon.png" alt="Ionic logo" width="50%" >
        <br>
        <img src="assets/img/tick.png" alt="Ionic logo" width="50%">

       <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">
        
        Your clinic visit request<br>has been sent to :</h3>
     
        <div *ngIf="scannedData">
          <p>
           <b>{{ scannedData["text"] }}</b>
          </p>
        
        </div>
        <ion-back-button [defaultHref]="defaultHref">Back</ion-back-button>
        <ion-button expand="full" color="secondary" (click)="goBack()" style="margin: 15px;">Close</ion-button>
      </ion-card>
     
    





</ion-content>