<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    
    <ion-menu contentId="main-content">
      <ion-content>
        <div >
        <img src="assets/img/logoicon.png" alt="logo"  style=" padding-left: 40px; padding-top: 20px; width: 75%; height: 75%" >    
      </div>  
        <ion-list *ngIf="loggedIn" > 
         
        <ion-list lines="none">
        
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [src]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
     
         
        <ion-menu-toggle autoHide="false">
          <ion-item button  detail="false">
            <ion-icon slot="start" src="assets/icon/help.svg"></ion-icon>
            <ion-label>Help</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" src="assets/icon/info.svg"></ion-icon>
              <ion-label>Introduction</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>



        </ion-list>

      </ion-content>

      <ion-footer class="bar-stable">
        <ion-item button (click)="logout()" detail="false">
          <ion-icon slot="start" src="assets/icon/signout.svg"></ion-icon>
          <ion-label>
            Log Off
          </ion-label>
        </ion-item>
    </ion-footer>


    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
