<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/menu_96px.svg" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: black;  font-weight: bold;">PROFILE</div>
    <ion-buttons slot="end">
      <ion-button >
       <ion-icon >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
     
        <img src="assets/icon/menu_96px_white.png" width="25px" height="25px" />
      </ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; color: white;  font-weight: bold;font-family: My Custom Font2;">Profile</div>
    <ion-buttons slot="end">
      <ion-button >
        <img src="assets/icon/gear_96px_white.png" width="25px" height="25px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 


<ion-content style="text-align: center;">
  <br>
<br><br><br> <b>Your Digital ID</b>
  <ion-card class = "shadow" style="background-color: white; margin-left: 5%; margin-right: 5%;">
 
    <br>
    <br>
   
    <!--<img src="https://api.qrserver.com/v1/create-qr-code/?data={{this.get_name}}-{{this.get_nric}}&size=200x200" width="180px" height="180px" />-->
    <img src="assets/qrsample.png" width="180px" height="180px" />
    <br><br>
    <ion-card-title style="color: black; margin-left: 10%; margin-right: 10%;"><b>{{this.get_name}}</b></ion-card-title>
    
    <ion-item-divider style="background-color: white;">
    </ion-item-divider>
    <ion-card-header style="width: 350px; margin-left: auto; margin-right: auto;">
      <table style="text-align: left;" width="100%">
        <tr>
          <td >NRIC/MyKad</td>
          <td>    <b style="font-size: large; color:black;">{{this.get_nric}}</b></td>
        </tr>
        <br>
        <tr>
          <td >Company</td>
          <td >     <b style="font-size: large; color:black;">Scicom MSC BHD</b></td>
        </tr>
        <br>
        <tr>
          <td style ="width: 40% ;">Benefit Plan</td>
          <td style ="width: 60% ;">      <b style="font-size: large; color:black;">Plan 1</b></td>
        </tr>
        <br>
        <tr>
          <td style ="width: 40% ;">LTM Covered</td>
          <td style ="width: 60% ;">      <b style="font-size: large; color:black;">Yes</b></td>
        </tr>
      </table>
       <!--<ion-card-subtitle >Name :</ion-card-subtitle> <ion-card-title >{{this.get_name}}</ion-card-title>
     
     <ion-card-subtitle >NRIC/MyKad :</ion-card-subtitle>
      <ion-card-title >{{this.get_nric}}</ion-card-title>
      <ion-card-subtitle>Company :</ion-card-subtitle>
      <ion-card-title >Scicom MSC BHD</ion-card-title>
      <ion-card-subtitle>Benefit Plan :</ion-card-subtitle>
      <ion-card-title>Plan 1</ion-card-title>
      <ion-card-subtitle>LTM Covered :</ion-card-subtitle>
      <ion-card-title >Yes</ion-card-title>-->
    </ion-card-header>
    
  </ion-card>


  <!--
  <ion-card height="155px">
    <br>
    <div style="text-align: center;">
      <img src="assets/qrsample.png" width="150px" height="150px" /> </div>
    <br>
  </ion-card>


 
  

  
    <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Employee / Policy Holder</h3>
 
 
      <ion-card>


       
        <ion-list lines="none" style="padding-left: 10%;">
          <ion-item>
            <ion-label>Name : Syahril Idris</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>IC: 880915-14-5101</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Company : Scicom MSC BHD</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Benefit Plan : Plan 1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>LTM Covered : Yes</ion-label>
          </ion-item>
        </ion-list>


        
      </ion-card>
-->
<!--
        <ion-item>
          <div *ngIf="scannedData">
            <p>
              Scanned Code Text : <b>{{ scannedData["text"] }}</b>
            </p>
            <p>
              Scanned Code Format : <b>{{ scannedData["format"] }}</b>
            </p>
          </div>
        </ion-item>

        <ion-item>
          <h1>Enter Value to Create QR code</h1><br><br>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Input" [(ngModel)]="encodeData"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button color="success" (click)="encodedText()">
            Create QR
          </ion-button>
        </ion-item>

      -->


  <!--<ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon src="assets/icon/qr_code_96px.svg" (click)="scanCode();" ></ion-icon>
    </ion-fab-button>
    
  </ion-fab>-->


</ion-content>