.login-logo {
  padding: 60px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 300px;
}

.list {
  margin-bottom: 0;
}

.rounded {
  width: 100%;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;  
} 

.container {
  width: 300px; 

  margin-left:auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
} 

ion-content {
// --background: url('/assets/mediconnect/drawable-xxxhdpi/login.png') no-repeat center center / cover;
  //--background: url(images/bg.jpg) no-repeat center center fixed; 
 // background-size: cover;

 --background: url('/assets/mediconnect/drawable-xxxhdpi/login.png') 0 0/100% 100% no-repeat;
 
} 