<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"  >
        <ion-icon slot="icon-only" src="assets/icon/back_96px.svg" ios="ellipsis-horizontal" md="ellipsis-vertical" color="primary-contrast">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="text-align: center;" >MESSAGE DETAILS</div>
    <ion-buttons slot="end">
      <ion-button >
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h2>{{session.name}}</h2>
   <!--<span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>--> 
    <p>{{session.description}}</p>
    <!--   <ion-text color="medium">
      {{session.timeStart}} &ndash; {{session.timeEnd}}
      <br /> {{session.location}}
    </ion-text>-->
  </div>  
<!--
  <ion-list>
    <ion-item (click)="sessionClick('watch')" button>
      <ion-label color="primary">Contact</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('add to calendar')" button>
      <ion-label color="primary">Add to Calendar</ion-label>
    </ion-item>-->
   <!-- <ion-item (click)="sessionClick('mark as unwatched')" button>
      <ion-label color="primary">Mark as Unwatched</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('download video')" button>
      <ion-label color="primary">Download Video</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>-->
   <!--<ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback</ion-label>
    </ion-item>
  </ion-list>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" >
              <ion-avatar slot="start">
                <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{speaker.name}}</h2>
                <p>{{speaker.title}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

       
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>--> 



</ion-content>
