


<ion-content padding>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false"
    style="background:transparent !important;background-color: white;">
    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;">
    
      <img src="assets/img/logoicon.png" class="slide-image" />

      <div class="container">
        <h3>Please activate your account</h3>
        <b>Steps to activate your account:</b>
        <div style="text-align: left; ">
          <ol>
            <br>
            <li>Capture and crop your identification document </li>
            <br>
            <li>Take a selfie</li>
            <br>
            <li>Verify and submit</li>

          </ol>
        </div>
      </div>


      <ion-button fill="clear" (click)="swipeNext1()"
        style="position: relative;  display: inline-block; text-align:center; margin-left: 20px;">Start<br>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </ion-slide>

    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;">

      <div class="container">
        <br><br>
        Capture Your Mykad Photo: <br><br>
        
     
        <img [src]="base64Image" *ngIf="base64Image" style=" display: block; margin-left: auto; margin-right: auto; " />
        <img [src]="base64ImageCrop" *ngIf="base64ImageCrop"
          style=" display: block; margin-left: auto; margin-right: auto;  border: 5px solid black;" />

        <br>

        <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe">


        <ion-button expand="block" (click)="reCaptureMyCard()">Re-Capture</ion-button>
        <br>
        <ion-button expand="block" (click)="swipeNext2()">Next: Capture Selfie</ion-button>

      </div>
    </ion-slide>

    <ion-slide>
      <ng-container *ngIf="!isCameraActive && isMyCardCameraActive">
        <div>
          <img id="card-img" [src]="myCardBase64" />
          <canvas id="card-canvas" [width]="MYCARD_SIZE.width" [height]="MYCARD_SIZE.height"></canvas>
        </div>
      </ng-container>

      <ng-container *ngIf="isCameraActive && isMyCardCameraActive">
        <div class="card-container">
          <div id="card-area-element" [style.width]="MYCARD_SIZE.width + 'px'"
            [style.height]="MYCARD_SIZE.height + 'px'"></div>
        </div>
        <ng-container *ngTemplateOutlet="cameraControls;context: { type: 'mycard' }"></ng-container>
      </ng-container>

      <ng-template #cameraControls let-cameraType="type">
        <ion-row class="camera-control">
          <ion-col size="12" class="controls">
            <ion-fab-button color="light" class="camera-button" (click)="takePictureButton($event, cameraType)">
              <ion-icon color="primary" src="assets/icon/camera-outline.svg"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-slide>


 


    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;">
      

      <div class="container">
        <br><br>
        Capture your Selfie Photo: <br>

        <br>
   <!--     <img [src]="base64Image1" *ngIf="base64Image1" style=" background-size:cover; background-repeat:no-repeat; width:250px;  height:250px;" />-->

        <img class="cropped1" [src]="base64Image1">
        <br>
        <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe1">




        <ion-button expand="block" (click)="reCaptureMySelfie()">Re-Capture</ion-button>
        <br>
        <ion-button expand="block" (click)="swipeNext3()" *ngIf="hideMe1">Submit</ion-button>





      </div>
    </ion-slide>
 
    

<ion-slide class="custom-ion-content">

  <div class="box stack-top">    <ion-row class="camera-control">
    <ion-col size="12" class="controls">
      <ion-fab-button color="light" class="camera-button" (click)="captureSelfie()">
        <ion-icon color="primary" src="assets/icon/camera-outline.svg"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row></div>

</ion-slide>
  


    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;">
     
      <br><br>
      <div *ngIf="showResult">

        <div *ngIf="loadingImage">
          <b> Sending for Verification:</b>
        </div>


        <br>

     
        <br>
        <br>
      </div>
      <img src="../assets/load.gif" alt="Loading"
        style="height: 100px;  display: block; margin-left: auto; margin-right: auto; width: 50%; "
        *ngIf="loadingImage" />
      <br> <br> <br>

      <div class="container">

        <ion-col *ngIf="passAll">
          <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Identity Verification Pass</h3>

        </ion-col>

        <ion-col *ngIf="passAll2">
          <h3 class="ion-padding-top ion-padding-start" style="text-align: center;">Identity Verification Fail</h3>

        </ion-col>




        <div style="width: 200px; align-content: center; margin: auto;">
          <ion-row>
            <ion-col>
              <div class="rectangle1" *ngIf="livenessPass"></div>
              <div class="rectangle2" *ngIf="livenessPass2"></div>
            </ion-col>

            <ion-col>
              <div class="rectangle1" *ngIf="ocrPass"></div>
              <div class="rectangle2" *ngIf="ocrPass2"></div>
            </ion-col>

            <ion-col>
              <div class="rectangle1" *ngIf="matchPass"></div>
              <div class="rectangle2" *ngIf="matchPass2"></div>
            </ion-col>
          </ion-row>

        </div>
        <ion-row>
          <ion-col *ngIf="passAll">
          <br>
          
            <ion-button (click)="swipeNext4()"  expand="block">Register Your Mobile Number</ion-button>
          </ion-col>
 
          <ion-col *ngIf="passAll2">
           <br>
           <ion-button (click)="restartverify()"  expand="block">Please Re-Verify</ion-button>

          <!--<b>The verification failed may due to several reasons. Please follow the guidelines below:</b>

 <ion-list>
  <div scrolly="true" style="max-height:150px">
 
    <ion-list style="height: 100%;">
      <ion-item>
        1. The photos to be taken under the broader light source not direct lighting.
      </ion-item>
      <ion-item>
        2. Taking the ID card photo 90 degree directly from above and ensure there are no reflection and shadow on the card.
      </ion-item>
      <ion-item>
        3. Ensure your face is within the placeholder
      </ion-item>
      <ion-item>

        4. Ensure there's no more than one person in the photo
      </ion-item>
      <ion-item>
        5. Ensure you are in front of plain background.
      </ion-item>
    </ion-list>
</div>


 
  
         
 

</ion-list>-->
         </ion-col>
          
        </ion-row>
      </div>

    </ion-slide>






    <ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
      <br><br><br><br>
      <img src="assets/img/logoicon.png" class="slide-image"  />
    
      <div class="container">
        <br>
        <h3>Enter your mobile number:</h3>
<br>
        <ion-item>
                   +60<ion-input   [(ngModel)]="phonenumber"  minlength="8" maxlength= "10" name="phonenumber" type="tel" required>
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="phonenumber" class="ion-padding-start">
            Phone Number is required
          </p>
        </ion-text>
  <br>

     <ion-button (click)="swipeNext5()"  expand="block">Request TAC</ion-button>
 
    </div>  
    
     

  </ion-slide>
     
    



<ion-slide style="background: url('/assets/img/login.png') no-repeat center center / cover;" >
<br><br><br><br>
<img src="assets/img/logoicon.png" class="slide-image"  />

<div class="container">
<br>
<h3>TAC VERIFICATION:</h3>
<br>
<ion-item>
  <ion-input  style="text-align: center;" [(ngModel)]="otpnumber" minlength="6" maxlength= "6" name="otpnumber" type="tel" placeholder="6 Digit Code"   required>
  </ion-input>
  
</ion-item>
<ion-text color="danger">
 <p [hidden]="otpnumber" class="ion-padding-start">
   Check your SMS for code
 </p>
</ion-text>


</div>  



<ion-row>
<ion-col *ngIf="otpfailed">
<div class="container">
<br> 
<ion-button (click)="getsmsverify()"  expand="block">Verify TAC</ion-button>
<ion-row>
<ion-col>
<ion-button fill="clear" (click)="goBack()" style= "position: relative;  display: inline-block; text-align:center; ">Go Back<br></ion-button>
</ion-col>
<ion-col>
<ion-button fill="clear" (click)="getsms2()" style= "position: relative;  display: inline-block; text-align:right;">Resend TAC<br></ion-button>
</ion-col>
</ion-row>

</div>
</ion-col>

<ion-col *ngIf="otpsuccess">
<br>    <div class="container">
<ion-button (click)="gotoNext()"  expand="block">Activate Profile</ion-button></div>
</ion-col>

</ion-row>


</ion-slide>




    <!-- NAIM -->
   
  </ion-slides>
</ion-content>
