ion-toolbar {
  --background: white;
  --border-color: white;
  border-bottom: none;

  
}

.header-md::after {
  display: none;
}
.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}

.container {
  width: 300px; 

  margin-left:auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
} 

div[scrollx=true],div[scrolly=true] {
  position: relative;
  overflow: hidden;
}

div[scrollx=true] {
 overflow-x: auto;
}

div[scrolly=true] {
 overflow-y: auto;
}

.box{
 background: url('/assets/img/overlay.png') no-repeat center center / cover;
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
  z-index: 9;
 
 
}

ion-content {
  --background: url('/assets/img/login.png') no-repeat center center / cover;
  
 } 

 ion-slides {

   height: 100%;
 } 
 .cropped1 {
  width: 300px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
  border: 5px solid black;
}

 .camera-content {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.crop {
 margin-left: -15%;
 width: 115%;
}

#scroll-list{
  height: 200px;
}

#myFixZone {
  height: 200px;
}

.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background:url('/assets/img/overlay.png');
 

}

.adjust {
  margin-left: -10%;
 

}

.rectangle1 {
  height: 20px;
  width: 50px;
  background-color: rgb(98, 221, 98);
}

.rectangle2 {
  height: 20px;
  width: 50px;
  background-color: rgb(245, 72, 72);
}


.custom-ion-content{
    background:transparent !important;
    background-color: transparent !important;
}

html, body, .ion-slides, .ion-app, ion-content, ion-split-pane, ion-router-outlet, page-loginverify{
 // background-color: transparent !important;
  background:transparent !important;
  --background: transparent !important;
 // --background-color: transparent !important;
}

ion-content {
 // background-color: transparent !important;
  background:transparent !important;
  --background: transparent !important;
 // --background-color: transparent !important;
}

.hydrated 
{
  background-color: transparent !important;
  --background-color: transparent !important;
}


// Naim
ion-content {
  --background: transparent;
}

#card-canvas, #selfie-canvas {
  visibility: hidden;
}

.card-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.selfie-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


#card-area-element {
  position: absolute;
  top: calc(50% - 150px);
  left: 0;
  right: 0;
  margin: auto;
  border: solid 4px white;
  border-radius: 8px;
  box-shadow: 0 0 0 9999px rgba(128, 128, 128, 60%);
}

#selfie-area-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 9999px rgba(128, 128, 128, 60%); 
}

.camera-button {
  ion-icon {
    width: 40px !important;
    height: 40px !important;
  }
}

.selfie-head {
  background-image: url(/assets/head_new.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.camera-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoot-control {
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --box-shadow: none;

    width: 72px;
    height: 72px;

    .circle {
      width: 90%;
      height: 90%;
      background: rgba(var(--ion-color-primary-rgb), 0.2);
      border-radius: 50%;
      border: 4px solid #ffffff;
    }
  }
}
