



<ion-content>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false"  style="background-color: white;"> 
    
   
      <br>
        <div class="container" id="cameraPreview2"  *ngIf="hidePreview" style="background-color: black; width: auto;" >   <ion-button expand="block" (click)="captureSelfie()" *ngIf="hidePreview">Capture</ion-button></div>
  
        <br>
      

  
       <img [src]="base64Image1" *ngIf="base64Image1" style=" display: block; margin-left: auto; margin-right: auto; "  />
      
       <br>
     
    <img src="../assets/img/tick.png" style="height: 40px;  margin-top: 20px" *ngIf="hideMe1">


 
    
   
   
  
 
 
 

    
 
  </ion-slides>
</ion-content>

